#title {
    margin: 0 auto;
    text-align: center;
}

#node-popup-header {
}

#popup-wrapper {
    position: relative;
    width:100%;
    height:100%;
}

h4 {
    padding-left: 20px;
}

#summary {
    padding-left: 20px;
    padding-right: 20px
}