#node-wrapper {
    background: blue;
    position: absolute;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    transition: 350ms;
    z-index: 10;
}

#mindmap-wrapper {
    width: 100vw;
    height: 100vh;
    transition: 350ms; 
}