#node-wrapper {
    background: #464646;
    position: absolute;
    width: 35%;
    height: 100%;
    display: flex;
    top: 0;
    transition: 350ms;
    z-index: 10;
    overflow-y: scroll;
}

#mindmap-wrapper {
    width: 100vw;
    height: 68vh;
    transition: 350ms;
}