.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    position: relative;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    height: 600px;
  }
  
  #close-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    cursor: pointer;
  }

  #about-title {
    text-align: center;
  }

  #instructions-title {
    text-align: center;
  }